*{
    /* Universal Styles: */
    padding: 0;
    margin : 0;
}
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

.body{
    background: url("../images/bg.jpg");
    min-height: 100vh;
    background-size: 100vw;
    background-repeat: no-repeat;

    display:flex;   /* Make it Flex Box */
    justify-content: center; /* Horizontally-Align-Content */
    align-items: center; /* Vertically-Align-Content */
}

#board{
    background: linear-gradient(rgb(171, 228, 171), rgb(211, 211, 176));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;

    display: grid;  /* Make it grid box */
    /* Make 18X18 Grids : (1fr = 1 fraction Thus, 1fr here =1/18 and there is no overflow on x or y axis)*/
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);


}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    border-radius: 9px;
    /* background-image: url("../images/snakeFace.png"); */
    transform: scale(1.02);
}
.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid white;
    border-radius: 25px;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 120px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#highScoreBox{
    position: absolute;
    top: 57px;
    right: 80px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#LevelForhighScoreBox{
    position: absolute;
    top: 100px;
    right: 140px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}


/* Level Select Button */
.gameButtons{
  padding: 10px;
  margin:auto;
  box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:11px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
  }
.gameButtons:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}

#gameSettings{
    position: absolute;
    top: 30px;
    left:100px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    padding: 20px;
    margin-left: auto;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  
/* Responsive for Phones */
@media only screen and (max-device-width: 950px){
  .body{
    background-size: cover;
    min-height: 95vh;
  }
  #LevelForhighScoreBox{
    right: 155px;
  }
  #gameSettings{
    position: absolute;
    top: 80vh;
    left:100px;
  }
  #musicOnOff{
    margin-bottom: 40px;
  }
}

